@font-face {
  font-family: 'MarvelFont';
  src: url('assets/fonts/Marvel-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'MarvelFont', sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
